    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
        background-color: white;
    }
    body {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #cf851d;
        background-image: url('book.jpg'); /*https://www.w3schools.com/cssref/pr_background-image.php they had a background image code for "hero"*/
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .container {
        text-align: center;
        background-color: #fff;
        padding: 20px;
        border-radius:10px;
    }

    #bookList {
        margin-top: 5px;
        font-size: 20px;
        overflow:auto;  /*https://www.w3schools.com/css/css_overflow.asp#:~:text=overflow%3A%20auto,content%20overflows%20an%20element's%20box. without it, the results overflow (go outside the page and the users can't read the results */
        max-height: 300px;
    }



    @media (max-width:768px){
        #bookList {
            font-size: 16px;
            max-height: 200px;
        } 
    }

    @media (max-width:428px){
        #bookList {
            font-size: 14px;
            max-height: 100px;
        }
    }