*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:#D4D4D4 ;
}
section{ 
    display:flex; /*sets self as flex container */
    justify-content:center; /* centers horizontally */
    align-items:center; /*centers vertically */
    height:100vh; /*sets height to full view screen */
    width:100%; 
}

.grid-container{
    display:grid;
    grid-template-rows: repeat(3,150px);
    grid-template-columns: repeat(3,150px);
    gap: 1em;
}

.grid-item{
    width: 150px;
    height: 150px;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-shadow: 1px 1px 1px #6b6b6b;
    font-weight: 700;
    font-size: 2rem;
}

.grid-item-span{
    grid-column:span 3;
    width:480px;  /* counting for the gap and the grid width, I think the width is ~480px*/
}
.item-1 {
    background-color: #000000;
    }
.item-2 {
    background-color: #114534;
    }
.item-3 {
    background-color: #703C33;
    }
.item-4 {
    background-color: #3E3904;
    }
.item-5 {
    background-color: #0B5149;
    }
.item-6 {
    background-color:#2E0B51;
    }
.item-7{
    background-color:#1D47C3;
}
.item-8{
    background-color:#615B1A;
}
.item-9{
    background-color:#1E4012;
}



